* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background: linear-gradient(to left, #501970 ,#9a51c5, #d9a7e9);
}

.header h1 {
    color: white;
    padding: 15px;
    font-weight: 1000px; 
    text-align: center;
}

p {
    color: white;  
}

.perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #FFD700;
}

.perfil img{
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.ico {
    width: 60px;
    border-radius: 10%;
    filter: grayscale(1);
    padding-top: 5px;
    transition: .3s;
}

.about h1 {
    font-size: 1.25em;
    color: #5e2a91; /* roxo */
    padding: 20px;
}

.about {
    background-color: #3c1953;
    margin: 10px 150px;
    padding: 20px;
    width: 800px; 
    border-left: 5px solid #FFD700; /* amarelo */
    border-right: 5px solid #FFD700; /* amarelo */
    border-radius: 6px;

}

.negrito {
    font-weight: 700;
    font-size: 1.5em;

}

img:hover {
    cursor: pointer;
    filter: grayscale(1);
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.about h2 {
    text-align: center;
    color: #FFD700; /* amarelo */
}

.about p {
    color: white; /* roxo */
    padding: 20px;
}

.detalhes{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

a {
    color: black;
}

a:hover{
    cursor: pointer;
    color: #784699;
}

@media (max-width: 575.98px){
    .about {
        margin: 10px 10px;  
        padding: 15px;       
        width: auto;         
    }
}

@media (min-width: 576px) and (max-width:991.98px){
    .about {
        margin: 10px 20px; 
        padding: 20px;     
        width: auto;     
    }
}

@media (min-width: 768px) and (max-width:1199.98px){
    .about {
        margin: 10px 50px; 
        padding: 20px; 
        width: 80%;   
    }
}

@media (min-width: 1200px) {
    .about {
        margin: 10px 150px; 
        padding: 20px;  
        width: 800px;  
    }
}