*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f1f1f1;
    
}


.header h1{
  
    color: #1c1c1c;
    padding: 15px;
}

p{
    color: #1c1c1c;  
}

header p{
    padding: 15px
}

.header img{
    width: 200px;
    border-radius: 10%;
    filter: grayscale(1);
    transition: .3s;
}

.icon{
    width: 60px;
    border-radius: 10%;
    filter: grayscale(1);
    padding-top: 15px;
    transition: .3s;
}

p {
    color: #404040;
    padding: 20px;
}

.about h1{
    font-size: 1.25em;
    color: #1c1c1c;
    padding: 20px;
}

.about{
    background-color: #fff;
    margin-left: 200px;
    margin-right: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.negrito{
    font-weight: 700;
}

img:hover{
    cursor: pointer;
    filter: grayscale(1);
    border-radius: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.about h2{
    text-align: center;
}